.contact-section {
  padding: 50px;
  text-align: center;
  color: #1d1d1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8; /* Light grey background for the contact section */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contact-section:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.contact-section h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #0071e3; /* Blue color for the section title */
}

.contact-section p {
  font-size: 1.25rem;
  color: #515154; /* Medium grey color for the text */
  margin-bottom: 20px;
}

.contact-section a {
  color: #0071e3; /* Blue color for the links */
  transition: color 0.3s ease;
}

.contact-section a:hover {
  color: #005bb5; /* Darker blue color on hover */
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links a {
  font-size: 1.25rem;
  color: #0071e3; /* Blue color for social links */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #005bb5; /* Darker blue color on hover */
}